body{
    font-family: 'Poppins', sans-serif;
    margin: opx;
}
.header{
    height: 80px;
    padding-bottom: 0px;
}
.navbar li{
    list-style: none;
    float: right;
    padding: 3px 10px;
    padding-top: 20px;
}
#home-menu{
    border: 1px solid gray;
    border-radius: 20px;
    padding: 3px 10px;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
}
.navbar ul li a:hover{
    background-image: linear-gradient(180deg, rgb(46, 226, 46), rgb(145, 218, 145));
    border-radius: 18px;
    color:white;
    padding:2px 10px;
    font-size: larger;
}
section{
    height: 500px;
    padding-bottom: 50px;
}
h1{
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
}
h2{
    text-transform: uppercase;
}
span{
    color: rgba(255, 131, 103, 1);
    text-transform: uppercase;
}
.half-side img{
    height: 10%;
    width: 80%;
    margin: 0px;
    padding-right: 50px;  
    padding-left: 50px;  
}
.half-side{
    width: 40%;
    margin:2%;
    float: left;
    padding: 2px;
}
.written-part{
    margin-top: 80px;
    align-content: center;
}
.btn{
    text-decoration: none;
    background-image: linear-gradient(180deg, rgb(236, 83, 48), rgb(219, 131, 116));
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
}
.btn:hover{
    text-decoration: none;
    text-transform: uppercase;
    font: bolder;
    border: 1px solid gray;
    border-radius: 15px;
    color: white;
    padding: 4px 10px;
    background-image: linear-gradient(180deg, green, rgb(77, 228, 77));
}
.work-area{
    text-align: center;
    font-size: 30px;
}
.onethird-area img{
    width: 95%;
}
.onethird-area{
    width: 30%;
    display: inline-block;
    margin-left: 1%;
    padding: 15px 0px 15px 15px;
}
.border-shadow{
    box-shadow: 10px 10px 40px gray;
    width: 30%;
    line-height: 100%;
    border-radius: 10px;
    background-color: white;
}
.work{
    background-color: #eceff7;
    padding-top: 60px;
}
.inquiry{
    padding-top: 80px;
    padding-bottom: 0%;
}
.container {
    position: relative;
    text-align: center;   
}
.container img{
    width: 50%;
}
.left {
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translate(-50%, -50%);
    color:white;
    text-transform: uppercase;
    font:800px;
    font-size: large;
}
.right {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
}
.info{
    text-align: center;
}
.web-link img{
    height: 40px;
    width: 40px;
    margin: 0%;
    padding: 0%;
}
.web-link img:hover{
    height: 50px;
    width: 50px;
}
.web-link{
    margin: auto;
    width: 30%;
    margin-left: 5%;
    float: left;
}
.insta{
    width: 0%;
    padding-left: 38%;
}
.fb{
    width: 0%;
   
}
.twitter{
    width: 0%;
}
.connected, .inquiry{
    height: 300px;
    padding-bottom: 0%;
}